.logContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #97E1D3;
    border-radius: 12px;
    border: 1px solid black;
    width: 495px;
    height: 55px;
    margin: 20px;
    cursor: pointer;
}

.logContainer:hover {
    background-color: #85d0bf;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttonText {
    color: white;
    font-size: 24px;
    font-weight: 700;
}