.leaderboardContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 475px;
    margin: 100px 0 20px 0;
    /* border: 2px solid blue; */
}

.leaderboardItem {
    display: flex;
    width: 150px;
    border-radius: 12px;
    justify-content: center;
    align-items: flex-end;
    font-weight: 400;
    color: #363539;
}

.firstPlace {
    display: flex;
    justify-content: center;
    background-color: #9EE8FF;
    height: 270px;
}

.firstText {
    background-color: #B0ECFF;
    border: 2px solid #C5F1FF;
    border-radius: 8px;
    width: 5em; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
}

.secondPlace {
    display: flex;
    justify-content: center;
    background-color: #BDA2F5;
    height: 240px;
}

.secondText {
    background-color: #D0BAFF;
    border: 2px solid #DDCCFF;
    border-radius: 8px;
    width: 5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
}

.thirdPlace {
    display: flex;
    justify-content: center;
    background-color: #FFF597;
    height: 200px
}

.thirdText {
    background-color: #FFF9BE;
    border: 2px solid #FFFDE9;
    border-radius: 8px;
    width: 5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
}

