.leaderboardContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 475px;
    margin: 20px;
    /* border: 2px solid blue; */
}

.leaderboardItem {
    width: 150px;
    border-radius: 12px;
}

.firstPlace {
    background-color: #B0ECFF;
    height: 270px;
}

.secondPlace {
    background-color: #D0BAFF;
    height: 240px;
}

.thirdPlace {
    background-color: #FFF9BE;
    height: 200px
}

