.leaderboardContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    margin: 4rem auto;
    width: fit-content;
  }
  
  .leaderboardItem {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100px;
  }
  
  .bar {
    width: 100%;
    border-radius: 12px 12px 0 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #1d1d1f;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  }
  
  .firstPlace {
    height: 220px;
    background-color: #9EE8FF;
  }
  
  .secondPlace {
    height: 180px;
    background-color: #BDA2F5;
  }
  
  .thirdPlace {
    height: 140px;
    background-color: #FFF597;
  }
  
  .rankLabel {
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 0.9rem;
    color: #5a5a5a;
  }
  
  .name {
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  
  .value {
    font-size: 1.1rem;
    margin-top: 0.25rem;
  }
  